{erl_opts, [debug_info]}.
{deps, [
  {ale_call, "0.1.0"}
]}.

{plugins, [
    {rebar3_hex, "7.0.9"}
]}.

{profiles, [
    {test, [{deps, []}]}
]}.

{hex, [
    {description, "Simple Cobol parser generate AST or json."},
    {licenses, ["Apache-2.0"]},
    {links, [
        {"GitHub", "https://github.com/aleph-lang/cobol_parser"},
        {"Hex.pm", "https://hex.pm/packages/cobol_parser"}
    ]},
    {maintainers, ["Steve Roques<steve.roques@gmail.com>, Jeremie Suzan<jeremie@jsz4n.dev>"]},
    {doc, #{provider => edoc}}
]}.

{shell, [
  {apps, [cobol_parser]}
]}.
